---

---

<div
  class="flex 2xl:justify-start justify-center items-center w-full 2xl:h-full 2xl:px-0 2xl:py-0"
>
  <div class="relative w-full max-w-[640px] 2xl:max-w-[410px]">
    <img
      src="circle-frame.png"
      class="max-h-full max-w-full object-contain z-10 relative"
      style="aspect-ratio: auto;"
      alt="Decorative"
    />
    <div class="absolute top-[24%] left-[21%] w-[55%] h-[54%] z-0">
      <div class="relative w-full h-full overflow-hidden">
        <img
          src="my-work-words.png"
          class="absolute top-7 right-10 max-h-2/5 transform -translate-y-3 translate-x-2 object-contain z-1"
          style="aspect-ratio: auto;"
          alt="Decorative"
        />
        <img
          src="work-background.png"
          class="absolute w-full h-full"
          alt="Decorative"
        />
      </div>
    </div>
  </div>
</div>