<a
  href="/gallery"
  class="flex justify-center 2xl:justify-start w-full cursor-pointer"
>
  <div class="relative w-full max-w-md 2xl:max-w-lg">
    <img
      src="circle-frame.png"
      class="block w-full h-auto object-contain z-20 pointer-events-none"
      alt="Decorative"
    />
    <img
      src="circle.png"
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[72%] h-auto object-contain pointer-events-none"
      alt="Decorative"
    />
    <img
      src="square.png"
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[46%] h-auto object-contain pointer-events-none"
      alt="Decorative"
    />
  </div>
</a>
