---
import NavLink from "../components/NavLink.astro";
import Banner from "../assets/headerbanner.svg";
---

<header class="flex justify-between items-center px-15 py-5 bg-[#CCB39E]">
  <a href="/"
    ><h1
      class="text-5xl font-bold hover:text-[#251E1B] transition-all font-crimson text-[#5B4942]"
    >
      Hailey's Wall
    </h1></a
  >
  <div class="flex gap-10 text-lg font-crimson text-[#5B4942] font-semibold">
    <NavLink href="/about">About me</NavLink>
    <NavLink href="/work">My Work</NavLink>
    <NavLink href="/gallery">The Art Gallery</NavLink>
  </div>
</header>
