---
import NavLink from "../components/NavLink.astro"
---

<header class="flex justify-between items-center">
    <a href="/"><h1 class="text-3xl font-bold hover:text-green-500 transition-all">
      Hailey's Wall
    </h1></a>
    <div class="flex gap-5">
      <NavLink href="/about">About me</NavLink>
      <NavLink href="/work">My Work</NavLink>
      <NavLink href="/gallery">The Art Gallery</NavLink>
    </div>
  </header>