---

---

<div
  class="flex 2xl:justify-end justify-center items-center w-full 2xl:h-full 2xl:pl-40"
>
  <div class="w-full max-w-2xl 2xl:max-w-4xl overflow-hidden">
    <div class="relative w-full rotate-1">
      <div
        class="absolute top-[22%] left-[25%] w-[46%] h-[54%] p-[3%] bg-white transform z-0"
      >
        <div class="relative w-full h-full overflow-hidden">
          <img
            src="headshot.jpg"
            class="absolute top-0 right-0 max-h-5/6 transform -translate-y-3 translate-x-2 object-contain z-0"
            alt="Decorative"
          />
          <img
            src="collage.png"
            class="absolute w-full h-full z-0"
            alt="Decorative"
          />
          <div
            class="absolute bottom-0 left-0 h-1/2 p-7 text-black font-medium md:text-sm text-xs flex flex-col gap-2 z-0"
          >
            <span
              class="hidden sm:block font-crimson font-semibold text-[#3C2A1F]"
            >
              Hey! My names Hailey Kinsella, I'm a UI/UX designer currently
              completing my Computer Science Degree.
            </span>
            <span
              class="hidden sm:block font-crimson font-semibold text-[#3C2A1F]"
            >
              I've got lots I want to show you, click any picture frame to start
              checking things out!
            </span>
            <span class="sm:hidden font-crimson font-semibold text-[#3C2A1F]">
              Hey! My name is Hailey Kinsella, I've got lots I want to show you,
              click any picture frame to start checking things out!
            </span>
          </div>
        </div>
      </div>
      <img
        src="pixil-frame-0.png"
        class="relative top-0 left-0 w-full h-auto object-contain z-10 transform pointer-events-none aspect-auto"
        alt="Decorative"
      />
    </div>
  </div>
</div>
